<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>

 
</head>
<body>
  
    
    <!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white shadow-sm fixed-top py-3">
  <div class="container">
    <a class="navbar-brand fw-bold fs-3 text-primary" routerLink="/">
      <span class="text-dark">R</span>DEV
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#qualification">Quality</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#skill">Skill</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#service">Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
      <div class="d-flex">
        <a class="btn btn-primary px-4" href="/assets/CV.pdf" download>Dawoland CV</a>
      </div>
    </div>
  </div>
</nav>
<!-- Navbar End -->


    <app-home> </app-home>
    <app-about></app-about>
    <app-qualification></app-qualification>
    <app-skills></app-skills>
    <app-services></app-services>
    <app-portfolio></app-portfolio>
    <app-contact></app-contact>
    <app-footer></app-footer>



</body>
</html>